body {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 7%);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: hsl(0, 0%, 93%);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 21px;
    border-radius:5px;
    border: none;
    box-shadow: 0px 7px 0px 3px hsl(0, 0%, 13%), -5px -5px 15px 3px rgba(255, 255, 255, 0.2);
}

.buttonContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.leftright-container {
    display: flex;
    align-items: center;
}

.square {
    margin: 0 50px;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    cursor: pointer;
    transform: rotate(45deg);
}

.square:active,
.active {
    filter: brightness(150%);
}

.red {
    background-color: hsl(0, 80%, 50%);
}

.blue {
    background-color: hsl(210, 85%, 50%);
}

.green {
    background-color: hsl(120, 85%, 50%);
}

.yellow {
    background-color: hsl(50, 85%, 50%);
}

#startButton {
    margin-top: 50px;
    width: 150px;
    padding: 10px;
    background: hsl(350, 100%, 50%);
}

.winner {
    animation: spin 1s ease-in-out;
}

@keyframes spin { 
    100% { transform:rotate(180deg) } 
}

/* ------ SIGN GAME START AND OVER ------- */
#signStart, #signOver {
    display: none;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    z-index: 9999;
    padding-top: 50px;
}

#signStart {
    display: block;
}

#signStart p, #signOver p{
    font-size: 22px;
    opacity: 0; /* el elemento está oculto por defecto */
    animation: aparecer-desaparecer 1s infinite; /* la animación dura 1 segundo y se repite infinitamente */
  }
  
  @keyframes aparecer-desaparecer {
    0% {
      opacity: 0; /* el elemento está completamente oculto al principio */
    }
    50% {
      opacity: 1; /* el elemento aparece a la mitad de la animación */
    }
    100% {
      opacity: 0; /* el elemento desaparece al final de la animación */
    }
  }

.animation {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    animation: grow 1s ease-in-out forwards;
}

@keyframes grow {
    0% {
    transform: translate(-50%, -50%) scale(0.1);
    }
    80% {
    transform: translate(-50%, -50%) scale(1);
    }
    100% {
    transform: translate(-50%, -50%) scale(0.8);
    }
}    